    


    <section id="about" class="wow" style="margin-top: 5%;">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 about-img">
            <img src="/assets/banner1.jpg" alt="">
          </div>

          <div class="col-lg-6 content">
            <h2><%= title_apply %></h2>
            
            <p style="font-size: 22px;font-family: 'Lato';"><%= apply_description %></p>
            <ul style="list-style: disc;" >
              <li style="font-size: 22px;font-family: 'Lato';margin-bottom: 5%;word-spacing: 5px;"><%= criteria1 %></li>
              <li style="font-size: 22px;font-family: 'Lato';margin-bottom: 5%;word-spacing: 5px;line-height:1.5;"><%= criteria2 %></li>
              <li style="font-size: 22px;font-family: 'Lato';margin-bottom: 5%;word-spacing: 5px;line-height:1.5;"><%= criteria3 %></li>
            </ul>

          </div>
        </div>

      </div>
    </section><!-- #about -->

