<!DOCTYPE html>
<html>
  <head>
    <title>Affiliate</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  		<%= render "shared/header" %>
  	  	<%= render "shared/banner" %>
  	  	<%= render "shared/about" %>
  	  	<%= render "shared/partner" %>
  	  	<%= render "shared/story" %>
  	  	<%= render "shared/build" %>
  	  	<%= render "shared/partnersaying" %>
  	  	<%= render "shared/footer" %>

    <%= yield %>
  </body>
</html>
